<%- include('../header') %>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Historial Medico</title>
    <link rel="stylesheet" href="../css/nuevohistorial.css">
    <link rel="stylesheet" href="/css/descargahistorial.css">
    
</head>

<body>
    <main>
        <div class="menu">
            <p data-target="#general">Datos Generales</p>
            <p data-target="#examen_fisico">Examen Físico</p>
            <p data-target="#examen_laboratorio">Examen Laboratorio</p>
            <p data-target="#diagnostico">Diagnostico</p>
            <p data-target="#descargar">
                <button class="download-btn" onclick=(descargarHistorial())>
                <svg viewBox="0 0 20 20"><path d="M10 2a1 1 0 0 1 1 1v8.586l2.293-2.293a1 1 0 1 1 1.414 1.414l-4 4a1 1 0 0 1-1.414 0l-4-4A1 1 0 1 1 5.707 9.293L8 11.586V3a1 1 0 0 1 1-1zm-7 13a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1z"></path></svg>
                    Descargar Reporte
                </button>
            </p>
		<div class="line"></div>
	    </div>

        <div class="content">
            <div data-content id="general" class="active">

                <h2> Datos Generales</h2>
    
                <form action="/registrarhistorial" method="POST">
                    <input type="hidden" name="paciente_id" value="<%= paciente ? paciente.id : '' %>">
                    <div class="registro">
                        <div>
                            <label for="nombre">Nombres</label>
                            <input type="text" name="nombre" id="nombre" value="<%= paciente ? paciente.Nombres: '' %>">
                        </div>
                        <div>
                            <label for="apellido">Apellidos</label>
                            <input type="text" name="apellido" id="apellido" value="<%= paciente ? paciente.Apellidos: '' %>">
                        </div>
                        <div>
                            <label for="cedula">Cedula</label>
                            <input type="text" name="cedula" id="cedula" value="<%= paciente ? paciente.Cedula: '' %>" onkeypress="return isCedulaPattern(event, this)" placeholder="V-12345678" required autocomplete="off">
                        </div>
                        <div>
                            <label for="telefono">Telefono</label>
                            <input type="tel" name="telefono" id="telefono" value="<%= paciente ? paciente.Telefono: '' %>" onkeypress="return isNumberKeyTLF(event)" placeholder="+58 ###-#######" required>
                        </div>
                        
                        <div>
                            <label for="edad">Edad</label>
                            <input type="number" name="edad" id="edad" value="<%= paciente ? paciente.Edad: '' %>" onkeypress="return isNumberKey(event)" required>
                        </div>
                        <div>
                            <label for="genero">Genero</label>
                            <select id="genero" name="genero" form="generoform">
                                <option value="masculino" <%= paciente && paciente.Genero === 'masculino' ? 'selected' : '' %>>Masculino</option>
                                <option value="femenino" <%= paciente && paciente.Genero === 'femenino' ? 'selected' : '' %>>Femenino</option>
                            </select>
                        </div>
                        <div>
                            <label for="patologia">Patologia</label>
                            <input type="text" name="patologia" id="patologia" value="<%= paciente ? paciente.Patologia: '' %>">
                        </div>
                        <div>
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" value="<%= paciente ? paciente.Email: '' %>">
                        </div>
                        <div>
                            <label for="ocupacion">Ocupación</label>
                            <input type="text" name="ocupacion" id="ocupacion" value="<%= paciente ? paciente.Ocupacion: '' %>">
                        </div>
                        <div>
                            <label for="estado_civil">Estado Civil</label>
                            <select id="estado_civil_id" name="estado_civil_id" required>
                                <option value="" disabled>Seleccione estado civil</option>
                                <% civil.forEach(function(c) { %>
                                    <option value="<%= c.Id %>" <%= c.Estado === paciente['Estado Civil'] ? 'selected' : '' %>><%= c.Estado %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div>
                            <label for="tipo_de_sangre_id">Tipo de Sangre</label>
                            <select id="tipo_de_sangre_id" name="tipo_de_sangre_id" required>
                                <option value="">Seleccione el tipo de sangre</option>
                                <% tiposDeSangre.forEach(function(tipo) { %>
                                    <option value="<%= tipo.Id %>" <%= tipo.Tipo === paciente['Tipo de Sangre'] ? 'selected' : '' %>><%= tipo.Tipo %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div>
                            <label for="direccion">Dirección</label>
                            <input type="text" name="direccion" id="direccion" value="<%= paciente ? paciente.Direccion: '' %>">
                        </div>
                        <div class="tabla-section">
                            <div class="tabla-titulo"></div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Estado</th>
                                        <th>Médico asignado</th>
                                        <th>Observaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (citas && citas.length > 0) { %>
                                        <% citas.forEach(function(cita) { %>
                                            <tr>
                                                <td>
                                                    <% if (cita.Fecha instanceof Date) { %>
                                                        <%= cita.Fecha.toISOString().slice(0,10) %>
                                                    <% } else { %>
                                                        <%= cita.Fecha ? cita.Fecha.toString().slice(0,10) : '' %>
                                                    <% } %>
                                                </td>
                                                <td><%= cita.Estado %></td>
                                                <td><%= cita['Medico asignado'] %></td>
                                                <td><%= cita.Observaciones %></td>
                                            </tr>
                                        <% }) %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="4">No hay citas registradas</td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>   
                        </div>
                        <button type="submit"class="nuevo">Nuevo Historial Medico</button>
                        <button type="button" class="cancelar" onclick="location.href='/pacientes'">Regresar</button>
                    </div>
                </form>
            </div>

            <div data-content id="examen_fisico">
                <h2>Examen Físico</h2>
                <form action="/registrarExamenFisico" method="POST">
                    <input type="hidden" name="paciente_id" value="<%= paciente ? paciente.id : '' %>">
                    <div class="registro">
                        <div>
                            <label for="peso">Peso</label>
                            <input id="peso" name="peso" placeholder="Peso en Kg" type="number" onkeypress="return isNumberKey(event)" />
                        </div>
                        <div>
                            <label for="altura">Altura</label>
                            <input id="altura" name="altura" placeholder="Altura en metros" type="number" onkeypress="return isNumberKey(event)" />
                        </div>
                        <div>
                            <label for="">Presión Arterial</label>
                            <input id="presion" name="presion" placeholder="Indique presión arterial" type="number" onkeypress="return isNumberKey(event)" />
                            
                        </div>
                        
                        <div>
                            <label for="">Frecuencia Cardíaca</label>
                            <input id="frecuencia" name="frecuencia" placeholder="indique frecuencia cardiaca" type="number" onkeypress="return isNumberKey(event)" />
                        </div>
                        <div>
                            <label for="">Frecuencia Respiratoria</label>
                            <input id="respiratoria" name="respiratoria" placeholder="Indique frecuencia respiratoria" type="number" onkeypress="return isNumberKey(event)" />
                        </div>
                        <div>
                            <label for="">IMC (indice masa corporal)</label>
                            <input type="text" id="imc" placeholder="IMC" readonly>
                        </div>
                        <div>
                            <label for="">Condiciones Generales</label>
                            <input type="" name="" id="" value="">
                        </div>
                        <div>
                            <label for="">Piel, Cicatrices, Tatuajes</label>
                            <input type="" name="" id="" value="">
                        </div>
                        <div>
                            <label for="">Ojos</label>
                            <input type="" name="" id="" value="">
                        </div>
                        <div>
                            <label for="">Oídos</label>
                            <input type="" name="" id="" value="">
                        </div>
                        <div>
                            <label for="">Nariz</label>
                            <input type="" name="" id="" value="">
                        </div>
                        <button type="submit"class="nuevo">Nuevo Historial Medico</button>
                        <button type="button" class="cancelar" onclick="location.href='/pacientes'">Regresar</button>
                    </div>
                </form>
            </div>


            <div data-content id="examen_laboratorio">
                <h1>Examen Laboratorio</h1>
                <form action="/registrarExamenLabo" method="POST">
                    <input type="hidden" name="paciente_id" value="<%= paciente ? paciente.id : '' %>">
                    <div class="">
                        <div class="laboratorio">
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="2">Hemograma</th>
                                    </tr>
                                </thead>
                                <tbody id="tabla-">
                                        <tr>
                                            <td>nombre:</td>
                                            <td>Resultado:</td>
                                        </tr>
                                        <tr>
                                            <td>nombre:</td>
                                            <td>Resultado:</td>
                                        </tr>
                                        <tr>
                                            <td>nombre:</td>
                                            <td>Resultado:</td>
                                        </tr>
                                </tbody>
                            </table>
                            <h3></h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="2">Perfil Lipídico</th>
                                    </tr>
                                </thead>
                                <tbody id="tabla-">
                                        <tr>
                                            <td>nombre:</td>
                                            <td>Resultado:</td>
                                        </tr>
                                        <tr>
                                            <td>nombre:</td>
                                            <td>Resultado:</td>
                                        </tr>
                                        <tr>
                                            <td>nombre:</td>
                                            <td>Resultado:</td>
                                        </tr>
                                </tbody>
                            </table>
                            <h3></h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="2">Urianálisis</th>
                                    </tr>
                                </thead>
                                <tbody id="tabla-">
                                        <tr>
                                            <td>nombre:</td>
                                            <td>Resultado:</td>
                                        </tr>
                                        <tr>
                                            <td>nombre:</td>
                                            <td>Resultado:</td>
                                        </tr>
                                        <tr>
                                            <td>nombre:</td>
                                            <td>Resultado:</td>
                                        </tr>
                                </tbody>
                            </table>
                            <h3></h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="2">Perfil Hepático</th>
                                    </tr>
                                </thead>
                                <tbody id="tabla-">
                                        <tr>
                                            <td>nombre:</td>
                                            <td>Resultado:</td>
                                        </tr>
                                        <tr>
                                            <td>nombre:</td>
                                            <td>Resultado:</td>
                                        </tr>
                                        <tr>
                                            <td>nombre:</td>
                                            <td>Resultado:</td>
                                        </tr>
                                </tbody>
                            </table>
                            <h3></h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="2">Pruebas hormonales</th>
                                    </tr>
                                </thead>
                                <tbody id="tabla-">
                                        <tr>
                                            <td>nombre:</td>
                                            <td>Resultado:</td>
                                        </tr>
                                        <tr>
                                            <td>nombre:</td>
                                            <td>Resultado:</td>
                                        </tr>
                                        <tr>
                                            <td>nombre:</td>
                                            <td>Resultado:</td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                        <h3></h3>
                        <div class="otros_examenes">
                            <div>
                                <label for="">Glucosa en Sangre</label>
                                <input type="text" name="" id="" value="">
                            </div>
                            <div>
                                <label for="">Urea</label>
                                <input type="text" name="" id="" value="">
                            </div>
                            <div>
                                <label for="">Creatinina</label>
                                <input type="text" name="" id="" value="">
                            </div>
                        </div>
                        <button type="submit"class="nuevo">Editar</button>
                        <button type="button" class="aceptar">Aceptar y Guardar</button>
                        <button type="button" class="cancelar" onclick="location.href='/pacientes'">Regresar</button>
                    </div>
                </form>
            </div>
            <div data-content id="diagnostico">
                <h2>Diagnostico</h2>
                <textarea name="textarea" id="textarea" rows="35" cols="150"></textarea>

            </div>
        </div>
    </main>
    <script src="/js/validaciones.js"></script>
    <script>
        const targets = document.querySelectorAll('[data-target]')
        const content = document.querySelectorAll('[data-content]')

        targets.forEach(target => {
        target.addEventListener('click', (e) => {
        content.forEach(c => {
            c.classList.remove('active')
        })
        const t = document.querySelector(target.dataset.target)
        t.classList.add('active')

        var line = document.querySelector('.line');
        line.style.width = e.target.offsetWidth + "px";
        line.style.left = e.target.offsetLeft + "px";
        })
        })

        function calcularIMC() {
            const peso = parseFloat(document.getElementById('peso').value);
            const altura = parseFloat(document.getElementById('altura').value);
            if (peso > 0 && altura > 0) {
                const imc = peso / (altura * altura);
                document.getElementById('imc').value = imc.toFixed(2);
            } else {
                document.getElementById('imc').value = "";
            }
        }

        document.getElementById('peso').addEventListener('input', calcularIMC);
        document.getElementById('altura').addEventListener('input', calcularIMC);
    </script>
    <script>
        function descargarHistorial() {
            const id = document.querySelector('input[name="paciente_id"]').value;
            window.location.href = `/pdfhistorial/${id}`;
            console.log(`Descargando historial médico para el paciente con ID: ${id}`);
        }
    </script>
</body>