<%- include('../header') %>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Historial Medico</title>
    <link rel="stylesheet" href="../css/nuevohistorial.css">

</head>

<body>
    <main>
        <h3>Historial Medico > Nuevo Historial Medico</h3>

        <div class="titulo">Registrar Historial Medico</div>

        <h2> Registro Medico </h2>
        
        <form action="/registrarhistorial" method="POST">
            <input type="hidden" name="paciente_id" value="<%= paciente ? paciente.id : '' %>">
        <div class="registro">
            <div>
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" value="<%= paciente ? paciente.Nombres: '' %>">
            </div>
            <div>
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido" value="<%= paciente ? paciente.Apellidos: '' %>">
            </div>
            <div>
                <label for="cedula">Cedula</label>
                <input type="number" name="cedula" id="cedula" value="<%= paciente ? paciente.Cedula: '' %>">
            </div>
            <div>
                <label for="telefono">Telefono</label>
                <input type="number" name="telefono" id="telefono" value="<%= paciente ? paciente.Telefono: '' %>">
            </div>
            <div>
                <label for="edad">Edad</label>
                <input type="number" name="edad" id="edad" value="<%= paciente ? paciente.Edad: '' %>">
            </div>
            <div>
                <label for="patologia">Patologia</label>
                <input type="text" name="patologia" id="patologia" value="<%= paciente ? paciente.Patologia: '' %>">
            </div>
            <div>
                <label for="genero">Genero</label>
                <select id="genero" name="genero" form="generoform">
                    <option value="masculino" <%= paciente && paciente.Genero === 'masculino' ? 'selected' : '' %>>Masculino</option>
                    <option value="femenino" <%= paciente && paciente.Genero === 'femenino' ? 'selected' : '' %>>Femenino</option>
                </select>
            </div>
        <div class="tabla-section">
            <div class="tabla-titulo"></div>
            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Notas de progreso</th>
                    </tr>
                </thead>
                <tbody id="tabla-pacientes">
                    <tr>
                        <td>2025-06-19</td>
                        <td>hoy el paciente casi se mata haciendo estas vistas</td>

                    </tr>
                </tbody>
            </table>    
        </div>
        <button type="submit"class="nuevo">Nuevo Historial Medico</button>
        <button type="button" class="cancelar" onclick="location.href='/pacientes'">Cancelar</button>
    </div>
    </form>
    </main>
</body>