<%- include('header') %>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar Cita Médica</title>
    <link rel="stylesheet" href="/css/citas.css">
    <link rel="stylesheet" href="/css/doctores.css">
</head>
<body>

    <div class="container">
        <h1>Agendar Cita Médica</h1>
        <form action="/citas/<%= paciente ? paciente.id : '' %>" method="POST"> <div class="form-group">
            <input type="hidden" id="pacienteId" name="pacienteId" value="<%= paciente ? paciente.id : '' %>">

            <div class="form-group">
                <label for="">Paciente: <%= paciente ? paciente.Nombre + ' ' + paciente.Apellido : '' %></label>
                
            </div>

            <div class="form-group">
                <label for="personalId">Médico de Preferencia:</label>
                <select name="personalId" id="personalId" required>
                    <option value="" disabled selected>Seleccione doctor</option>
                    <% medicos.forEach(function(m) { %>
                        <option value="<%= m.id %>"><%= m.Nombre %> - <%= m.Apellido %></option>
                    <% }) %>
                </select>
            </div>

            <div class="form-group">
                <label for="fecha">Fecha Deseada para la Cita:</label>
                <input type="date" id="fecha" name="fecha" required min="2025-05-29"> </div>

            <div class="form-group">
                <label for="observaciones">Motivo de la Consulta:</label>
                <textarea id="observaciones" name="observaciones" rows="4" placeholder="Describa brevemente el motivo de su cita" required></textarea>
            </div>

            <div class="form-group">
                <label for="estadoId">Estado Actual:</label>
                <select id="estadoId" name="estadoId" required>
                    <option value="">Seleccione un estado</option>
                    <% estados.forEach(function(e) { %>
                        <option value="<%= e.Id %>"><%= e.Descripcion %></option>
                    <% }) %>
                </select>
            </div>
            <input type="submit" value="Solicitar Cita">

        </form>
    </div>
    <script>
        
    </script>
</body>
</html>