<%- include('../header') %>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Personal Obrero</title>
    <link rel="stylesheet" href="../css/nuevopaciente.css">

</head>

<body>
    <main>
        <h3>Personal > Nuevo Personal</h3>

        <div class="titulo">Registrar Personal</div>

        <h2> Datos Personales</h2>
        <% if (error !=null) { %>
            <p style="color: red;"><%= error %></p>
        <% } %>
        <form action="/registrarpersonal" method="POST">
        <div class="registro">
            <div>
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="Ingrese nombre" required>
            </div>
            <div>
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido" placeholder="Ingrese apellido" required>
            </div>
            <div>
                <label for="cedula">Cedula</label>
                <input type="number" name="cedula" id="cedula" placeholder="V-12345678" required>
            </div>
            <div>
                <label for="edad">Edad</label>
                <input type="number" name="edad" id="edad" placeholder="Ingrese edad" required>
            </div>
            <div>
                <label for="genero_id">Género</label>
                <select id="genero_id" name="genero_id" required>
                    <option value="" disabled selected>Seleccione género</option>
                    <option value="1">Masculino</option>
                    <option value="2">Femenino</option>
                    <option value="3">Otro</option>
                </select>
            </div>
            <div>
                <label for="tipo_usuario_id">Ocupación</label>
                <select name="tipo_usuario_id" id="tipo_usuario_id" required>
                    <option value="" disabled selected>Seleccione una ocupación</option>
                    <% ocupaciones.forEach(function(ocupacion) { %>
                    <option value="<%= ocupacion.Id %>"><%= ocupacion.Descripcion %></option>
                    <% }) %>
                </select>
            </div>
            <div class="form-group">
                <label for="especialidad_id">Especialidad</label>
                <select id="especialidad_id" name="especialidad_id">
                    <option value="" disabled selected>Seleccione una especialidad</option>
                    <% especialidades.forEach(function(especialidad) { %>
                        <option value="<%= especialidad.Id %>" <%= especialidad.Descripcion === 'No Aplicable' ? 'selected' : '' %>><%= especialidad.Descripcion %></option>
                    <% }) %>
                </select>
            </div>
            <div class="form-group">
                <label for="email">Correo Electrónico a utilizar</label>
                <input type="email" id="email" name="email" required placeholder="tu.correo@ejemplo.com" required>
            </div>
            <button type="submit" class="nuevo">Registrar Personal</button>
            <button type="button" class="cancelar" onclick="window.location.href='/personal'">Cancelar</button>
        </div>
</form>
    </main>
</body>